--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3 (Debian 15.3-1.pgdg120+1)
-- Dumped by pg_dump version 15.3 (Debian 15.3-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: Christian_Cazorla
--

CREATE TABLE public.categories (
    category_id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.categories OWNER TO "Christian_Cazorla";

--
-- Name: categories_category_id_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.categories_category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_category_id_seq OWNER TO "Christian_Cazorla";

--
-- Name: categories_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Christian_Cazorla
--

ALTER SEQUENCE public.categories_category_id_seq OWNED BY public.categories.category_id;


--
-- Name: continent_code_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.continent_code_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.continent_code_seq OWNER TO "Christian_Cazorla";

--
-- Name: language_code_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.language_code_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.language_code_seq OWNER TO "Christian_Cazorla";

--
-- Name: orderdetails; Type: TABLE; Schema: public; Owner: Christian_Cazorla
--

CREATE TABLE public.orderdetails (
    order_id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.orderdetails OWNER TO "Christian_Cazorla";

--
-- Name: orders; Type: TABLE; Schema: public; Owner: Christian_Cazorla
--

CREATE TABLE public.orders (
    order_id integer NOT NULL,
    user_id integer,
    order_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.orders OWNER TO "Christian_Cazorla";

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.orders_order_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_order_id_seq OWNER TO "Christian_Cazorla";

--
-- Name: orders_order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Christian_Cazorla
--

ALTER SEQUENCE public.orders_order_id_seq OWNED BY public.orders.order_id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: Christian_Cazorla
--

CREATE TABLE public.products (
    product_id integer NOT NULL,
    name character varying(100) NOT NULL,
    price numeric(10,2) NOT NULL,
    category_id integer
);


ALTER TABLE public.products OWNER TO "Christian_Cazorla";

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.products_product_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_product_id_seq OWNER TO "Christian_Cazorla";

--
-- Name: products_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Christian_Cazorla
--

ALTER SEQUENCE public.products_product_id_seq OWNED BY public.products.product_id;


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: Christian_Cazorla
--

CREATE TABLE public.reviews (
    review_id integer NOT NULL,
    user_id integer,
    product_id integer,
    rating integer,
    comment text,
    CONSTRAINT reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.reviews OWNER TO "Christian_Cazorla";

--
-- Name: reviews_review_id_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.reviews_review_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reviews_review_id_seq OWNER TO "Christian_Cazorla";

--
-- Name: reviews_review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Christian_Cazorla
--

ALTER SEQUENCE public.reviews_review_id_seq OWNED BY public.reviews.review_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: Christian_Cazorla
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO "Christian_Cazorla";

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: Christian_Cazorla
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_user_id_seq OWNER TO "Christian_Cazorla";

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: Christian_Cazorla
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: categories category_id; Type: DEFAULT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.categories ALTER COLUMN category_id SET DEFAULT nextval('public.categories_category_id_seq'::regclass);


--
-- Name: orders order_id; Type: DEFAULT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.orders ALTER COLUMN order_id SET DEFAULT nextval('public.orders_order_id_seq'::regclass);


--
-- Name: products product_id; Type: DEFAULT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.products ALTER COLUMN product_id SET DEFAULT nextval('public.products_product_id_seq'::regclass);


--
-- Name: reviews review_id; Type: DEFAULT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.reviews ALTER COLUMN review_id SET DEFAULT nextval('public.reviews_review_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: Christian_Cazorla
--

INSERT INTO public.categories VALUES (1, 'Electronica');
INSERT INTO public.categories VALUES (2, 'Ropa');
INSERT INTO public.categories VALUES (3, 'Hogar');


--
-- Data for Name: orderdetails; Type: TABLE DATA; Schema: public; Owner: Christian_Cazorla
--

INSERT INTO public.orderdetails VALUES (1, 84, 1);
INSERT INTO public.orderdetails VALUES (1, 804, 5);
INSERT INTO public.orderdetails VALUES (2, 113, 3);


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: Christian_Cazorla
--

INSERT INTO public.orders VALUES (1, 444, '2025-08-16 06:55:58');
INSERT INTO public.orders VALUES (2, 479, '2025-03-07 20:27:27');
INSERT INTO public.orders VALUES (3, 870, '2025-06-25 11:23:26');


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: Christian_Cazorla
--

INSERT INTO public.products VALUES (1, 'Soluta', 1022.73, 3);
INSERT INTO public.products VALUES (2, 'Assumenda', 1519.50, 1);
INSERT INTO public.products VALUES (3, 'Ad', 167.23, 4);


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: Christian_Cazorla
--

INSERT INTO public.reviews VALUES (1, 569, 49, 2, 'Culpa incidunt odio adipisci praesentium eaque.');
INSERT INTO public.reviews VALUES (2, 7, 795, 2, 'Perspiciatis aspernatur praesentium iste.');
INSERT INTO public.reviews VALUES (3, 318, 878, 1, 'Animi hic laudantium minima suscipit voluptatum.');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: Christian_Cazorla
--

INSERT INTO public.users VALUES (1, 'Juan Pablo Prat Figuerola', 'huguetfederico@hotmail.com', '2020-02-15 10:56:06');
INSERT INTO public.users VALUES (2, 'Arturo M├║├▒iz Pardo', 'federico00@gmail.com', '2024-07-01 15:39:22');
INSERT INTO public.users VALUES (3, 'Andrea Cid-Morcillo', 'hsalazar@valenzuela.es', '2024-04-26 12:35:48');


--
-- Name: categories_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.categories_category_id_seq', 1, false);


--
-- Name: continent_code_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.continent_code_seq', 1, false);


--
-- Name: language_code_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.language_code_seq', 457, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.orders_order_id_seq', 1, false);


--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.products_product_id_seq', 1, false);


--
-- Name: reviews_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.reviews_review_id_seq', 1, false);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: Christian_Cazorla
--

SELECT pg_catalog.setval('public.users_user_id_seq', 1, false);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: orderdetails orderdetails_pkey; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.orderdetails
    ADD CONSTRAINT orderdetails_pkey PRIMARY KEY (order_id, product_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (review_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: orderdetails orderdetails_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.orderdetails
    ADD CONSTRAINT orderdetails_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: orderdetails orderdetails_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.orderdetails
    ADD CONSTRAINT orderdetails_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: orders orders_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id);


--
-- Name: reviews reviews_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: reviews reviews_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: Christian_Cazorla
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

